* {
  border: 1px solid gray;
  margin: 0;
}

nav {
  display: flex;
  margin: auto;
  width: 80%;
  padding: 20px 0px;
  justify-content: space-between;
}
.nav-link {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.dark-bg {
  background-color: #1F2937;
}
.white-bg {
  background-color: white;
}
.gray-bg {
  background-color: #E5E7EB;
}

.hero {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}
.hero-sub {
  font-size: 18px;
  font-weight: normal;
  color: #E5E7EB;
}
.main {
  display: flex;
  margin: auto;
  padding: 50px 0px;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
.main-div {
  width: 35%;
  font-size: 55px;
  color: #F9FAF8;
  font-weight: bolder;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 70px 0;
}
.info-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  padding: 50px 0;
}
.content-pictures {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
}
.content-pictures p {
  inline-size: 200px;
  overflow-wrap: break-word;
  padding: 10px 0;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 70px 0;
}
.quote-text {
  width: 40%;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1F2937;
}
.quote-credit {
  padding-left: 20%;
  font-size: 36px;
  font-weight: bold;
  color: #1F2937;
}

.signup-btn {
  background-color: #3882F6;
  border-radius: 10px;
  border: none;
  padding: 5px;
}
.signup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  height: 100px;
  background-color: #3882F6;
  border-radius: 10px;
  border: none;
}
.cta {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.cta .signup-btn {
  border: 1px solid #F9FAF8;
}