* {
  border: 1px solid gray;
  margin: 0;
}

nav {
  display: flex;
  margin: auto;
  width: 80%;
  padding: 20px 0px;
  justify-content: space-between;
}

.dark-bg {
  background-color: #1F2937;
}
.hero {
  font-size: 24px;
  color: #F9FAF8;
}
.hero-sub {
  font-size: 18px;
  color: #E5E7EB;
}
.nav-link {
  display: flex;
  width: 50%;
  justify-content: space-around;
}